.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  gap: 16px;
  text-align: center;

  h2 {
    text-align: center;
  }
}

.form {
  display: grid;
  gap: 25px;
}

.fieldset {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 12px;
  display: grid;
  gap: 8px;

}

.fieldset legend {
  font-weight: 600;
  margin-bottom: 4px;
}

.fieldset label {
  display: flex;
  gap: 8px;
}

.error {
  color: #b00020;
  font-weight: 600;
}

.button {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #666;
  background: #fff;
  color: #000;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: bold;
  max-width: 120px;
  margin: 0 auto;
}

.submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:hover {
  background: #cecece;
}

.result {
  border-radius: 8px;
  padding: 20px;
  display: grid;
  gap: 8px;
}
